
/* ArticlesGrid read/unread & important styles */
.unread .x-grid3-cell-inner
{
    font-style:italic;
    color : blue;
}
.important .x-grid3-cell-inner
{
    color:red;
}

.x-node-ctx
{ 
    background:#EEEEEE;
    margin : -1px 0 -1px 0;
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
}
.x-article-ctx
{
    background-color:#DDD;
    border-color:#999;
}
