<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost/feedeo</property>
        <property name="connection.username">feedeo</property>
        <property name="connection.password">feedeo</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
<!--        
		<mapping resource="serveur/Article.hbm.xml" /> 
		<mapping resource="serveur/Articles_Properties.hbm.xml"/>
		<mapping resource="serveur/Directory.hbm.xml" /> 
		<mapping resource="serveur/Feed.hbm.xml" /> 
        <mapping resource="serveur/Preference.hbm.xml"/>
        <mapping resource="serveur/User.hbm.xml"/>
        <mapping resource="serveur/UserPreference.hbm.xml"/>
-->        
        
		<mapping resource="org/feedeo/hibernate/Article.hbm.xml" /> 
		<mapping resource="org/feedeo/hibernate/ArticleProperties.hbm.xml"/>
		<mapping resource="org/feedeo/hibernate/Directory.hbm.xml" />
		<mapping resource="org/feedeo/hibernate/DirContainer.hbm.xml" /> 
		<mapping resource="org/feedeo/hibernate/Feed.hbm.xml" /> 
        <mapping resource="org/feedeo/hibernate/User.hbm.xml"/>

    </session-factory>

</hibernate-configuration>